.select {
    position: relative;
    padding: 4px;
    width: 150px;
    font-family: Roboto, sans-serif;
    border: 1px solid transparent;
    border-bottom-color: black;
    transition: border-color 0.2s, border-width 0.2s;
}

.select:hover {
    border-color: black;
    border-radius: 6px;
}

.select:focus {
    border-color: #409dff;
    border-radius: 6px;
}

.select::after {
    content: "";
    position: absolute;
    left: 90%;
    top: 50%;
    width: 5px;
    height: 5px;
    border: solid black;
}
